@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>

<p class="text-3xl font-bold underline">
    Hello world!
</p>

<div class="text-success">
    success
</div>